<div class="container">
  <div class="login-form">
    <h2 style="color: rgb(0, 0, 0); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">INICIO DE SESION</h2>
    <div class="image-container">
      <img src="https://i.ibb.co/PwhFvMv/logo-rojas.png" alt="Logo" width="200" height="150">
    </div>    
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="correo_empleado"style="color: black;">Correo Electrónico</label>
        <input type="email" class="form-control" id="correo_empleado" formControlName="correo_empleado" required>
        <div *ngIf="loginForm.controls['correo_empleado'].invalid && loginForm.controls['correo_empleado'].touched"
          class="error-message">Correo electrónico es requerido.</div>
      </div>
      <div class="form-group">
        <label for="contrasena_empleado"style="color: black;">Contraseña</label>
        <input type="password" class="form-control" id="contrasena_empleado" formControlName="contrasena_empleado"
          required>
        <div
          *ngIf="loginForm.controls['contrasena_empleado'].invalid && loginForm.controls['contrasena_empleado'].touched"
          class="error-message">Contraseña es requerida.</div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar sesión</button>
    </form>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
</div>